@import url(../fonts/fonts.css);
.p0 {
  padding: 0 !important;
}

.p20 {
  padding: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.tile.mr20 {
  margin-right: 20px !important;
}

.yellowish {
  color: #f3f313 !important;
}

.reddish {
  color: #ff5a5a !important;
}

.columns.is-centered {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  font-family: 'FontBook', 'Helvetica', Arial, sans-serif;
  line-height: 1.6;
  color: #777;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'FontBold', Arial, sans-serif;
  color: #2e2f48;
}

a {
  color: #bbb;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../img/preloader.GIF");
}

.navbar a.navbar-item {
  color: #999;
}

.navbar-brand {
  margin-right: 2.4em;
}

.main-logo {
  width: 80px;
  padding: 0;
}

.main-logo img {
  height: auto !important;
  max-height: initial;
}

.navbar-link:after {
  border: 1px solid #ff5a5a;
  border-top: 0;
  border-right: 0;
}

.ataglance .columns > .column:first-child {
  padding: 0;
}

.ataglance .columns > .column:last-child {
  background-color: #eee;
}

.ataglance h3 {
  font-size: 2.4rem;
  line-height: 1.2;
}

.ataglance p {
  font-size: 1rem;
}

.ataglance img {
  width: 100%;
}

.section-title {
  margin-bottom: 2em;
}

.section-title h3 {
  font-size: 1.8rem;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.article-section .card:nth-child(2) {
  margin-right: 0;
}

.article-section .card:nth-child(4) {
  margin-right: 0;
  margin-bottom: 0;
}

.article-section .card:nth-child(3) {
  margin-bottom: 0;
}

.article-section .columns .column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

article.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 48%;
  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
  margin-right: 15px;
  margin-bottom: 15px;
}

article.card .card-image {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 35%;
  -ms-flex: 1 0 35%;
  flex: 1 0 35%;
}

article.card .card-image figure {
  margin: 0;
}

article.card .card-content {
  padding-top: 1em;
}

.tile.card.buttonize {
  background-color: #2e2f48;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tile.card.buttonize:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.tile.card.buttonize .link:hover {
  color: #999;
}

.tile.card.buttonize .card-footer {
  padding: 1.5rem;
  border-top: none;
  background-color: #444;
}

.tile.card.buttonize .card-footer .icon, .tile.card.buttonize .card-footer .titanic {
  font-size: 20px;
  color: #eee;
}

.tile.card.buttonize .card-footer:hover {
  background-color: #f3f313;
}

.tile.card.buttonize .card-footer:hover span {
  color: #444;
}

.articles .card-content p {
  font-size: 14px;
  color: #999;
}

.card .level {
  padding: 1.5rem;
}

.tile.card {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.tile.card:hover {
  background-color: #2e2f48;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.tile.card:hover h4 {
  color: #fff;
}

.tile.card .level p {
  font-size: 14px;
  color: #999;
}

footer.footer {
  position: relative;
  background-color: #2e2f48;
  padding: 1rem 0 0 0;
}

footer.footer > .level {
  padding: 0 1.6rem;
}

footer.footer > .level.copyright {
  padding-top: .8rem;
  padding-bottom: .8rem;
}

footer.footer li h3 {
  color: #fff;
}

footer.footer .old-man img {
  position: absolute;
  right: 20px;
  bottom: 50px;
}

footer.footer .column h3 {
  color: #ff5a5a;
  font-weight: normal;
}

.copyright {
  background-color: #f3f313;
}

.copyright * {
  color: #2e2f48;
}
