@import url(../fonts/fonts.css);
@import url(settings-slider.css);
@import url(layers.css);
.p0 {
  padding: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.p20 {
  padding: 20px !important;
}

.pt5em {
  padding-top: 5em !important;
}

.pt10em {
  padding-top: 10em !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl4em {
  padding-left: 4em !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr5em {
  margin-right: 5em !important;
}

.tile.mr20 {
  margin-right: 20px !important;
}

.yellowish {
  color: #f7ac01 !important;
}

.reddish {
  color: #ff5a5a !important;
}

.goldish {
  color: #c3943c;
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 148, 60, 0.5)), color-stop(#c3943c), color-stop(#ffe09e), color-stop(#c3943c), to(rgba(195, 148, 60, 0.5)));
  background: -webkit-linear-gradient(left, rgba(195, 148, 60, 0.5), #c3943c, #ffe09e, #c3943c, rgba(195, 148, 60, 0.5));
  background: -o-linear-gradient(left, rgba(195, 148, 60, 0.5), #c3943c, #ffe09e, #c3943c, rgba(195, 148, 60, 0.5));
  background: linear-gradient(left, rgba(195, 148, 60, 0.5), #c3943c, #ffe09e, #c3943c, rgba(195, 148, 60, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white {
  color: #fff !important;
}

.columns.is-centered {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lhnormal {
  line-height: 1.6 !important;
}

.bb5px {
  border-bottom: 5px solid #f7ac01;
}

.subtitle {
  font-size: 1rem;
}

figure {
  margin: 0;
}

.title:not(.is-spaced) + .subtitle {
  margin-top: -1rem;
}

body {
  font-family: "FontBook", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background: #f3f3f3;
  color: #777;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'FontBold', Arial, sans-serif;
  color: #1f2466;
}

a {
  color: #bbb;
}

a:hover {
  color: #f7ac01;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../frontend/img/preloader.GIF");
}

.headroom {
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.82, -0.13, 0, 1.01);
  transition: -webkit-transform 0.3s cubic-bezier(0.82, -0.13, 0, 1.01);
  -o-transition: transform 0.3s cubic-bezier(0.82, -0.13, 0, 1.01);
  transition: transform 0.3s cubic-bezier(0.82, -0.13, 0, 1.01);
  transition: transform 0.3s cubic-bezier(0.82, -0.13, 0, 1.01), -webkit-transform 0.3s cubic-bezier(0.82, -0.13, 0, 1.01);
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.navbar {
  background: -webkit-gradient(linear, left bottom, left top, from(#1f2466), to(#2b328d));
  background: -webkit-linear-gradient(bottom, #1f2466, #2b328d);
  background: -o-linear-gradient(bottom, #1f2466, #2b328d);
  background: linear-gradient(to top, #1f2466, #2b328d);
  position: fixed;
  z-index: 20;
  right: 0;
  left: 0;
  top: 0;
}

.navbar a.navbar-item:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.navbar a.navbar-item:active {
  background-color: #f7ac01;
  color: #1f2466;
}

.navbar a.navbar-item.active {
  background-color: #f7ac01;
  color: #1f2466;
}

.navbar a.navbar-item.has-dropdown:hover .navbar-link {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.navbar a.navbar-item, .navbar-item, .navbar-link {
  color: #eee;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.navbar-brand {
  margin-right: 2.4em;
}

.main-logo {
  width: 80px;
  padding: 0;
}

.main-logo img {
  height: auto !important;
  max-height: initial;
}

.navbar-link:after {
  border: 1px solid #f7ac01;
  border-top: 0;
  border-right: 0;
}

.navbar-dropdown {
  background-color: #1f2466;
  font-size: 0.875rem;
  padding-bottom: 0;
  padding-top: 0;
  border-top: none;
}

.navbar-dropdown .navbar-item {
  padding: 0.8rem 1rem;
  white-space: nowrap;
}

.rev_slider .link-arrow {
  color: #fff;
}

.rev_slider .link-arrow:hover {
  color: #f7ac01;
}

.rev_slider .link-arrow:hover .icon {
  -webkit-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}

.rev_slider .slider-title {
  color: #fff !important;
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider-prev {
  left: 2.2rem;
}

.slider-prev:hover {
  color: #f7ac01;
}

.slider-next {
  right: 2.2rem;
}

.slider-next:hover {
  color: #f7ac01;
}

.main-slider {
  position: relative;
  z-index: 10;
  top: 50px;
}

.main-slider .tp-caption {
  z-index: 5 !important;
}

.main-slider .tp-caption h2 {
  font-size: 20px;
}

.main-slider .overlay-slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.05);
}

.main-slider .tp-bullets.preview3 .bullet:hover, .main-slider .tp-bullets.preview3 .bullet.selected {
  border: 5px solid #f7ac01 !important;
}

.main-slider .tparrows.preview3 {
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.14);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.14);
  border-radius: 3px;
}

.ataglance .columns > .column:first-child {
  padding: 0;
}

.ataglance .columns > .column:last-child {
  background-color: #f3f3f3;
}

.ataglance {
  position: relative;
  padding-bottom: 0;
  padding-top: 3.8rem;
}

.ataglance h3 {
  font-size: 2.4rem;
  line-height: 1.2;
}

.ataglance .button-cta h3 {
  color: #f7ac01;
}

.ataglance .lead-title h3 {
  color: #1f2466;
}

.ataglance p {
  font-size: 1rem;
}

.ataglance img {
  width: 100%;
}

.button-cta {
  width: 330px;
  position: absolute;
  right: -15px;
  bottom: -150px;
  padding: 40px;
  background-color: #1f2466;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.button-cta:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
}

.button-cta a {
  display: block;
}

.button-cta .level-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.button-cta .level-item .icon {
  font-size: 2rem;
}

.button-cta .level-item h3 {
  color: #f7ac01;
  font-size: 2rem;
}

.section-title {
  position: relative;
  margin-bottom: 2em;
  line-height: 1.6;
}

.section-title.dark {
  color: #ddd;
}

.section-title.dark h3 {
  color: #f7ac01;
}

.section-title h3 {
  font-size: 1.8rem;
  line-height: 1.4;
}

.section-title .bar {
  position: absolute;
  left: -100px;
  top: 30px;
  z-index: -1;
  width: 250px;
  height: 3px;
  background: #f7ac01;
}

.read-more {
  margin-bottom: 2em;
  text-align: right;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.article-section {
  background: url(../img/bg-section.png) no-repeat center;
  background-size: cover;
  background-color: #1f2466;
}

.article-section .card {
  border-radius: 6px;
  cursor: move;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.article-section .card:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.article-section .card .card-footer {
  border-radius: 6px;
}

.article-section .card .card-footer .card-footer-item:last-child {
  border-radius: 0 0 6px 0;
  padding-right: 0;
}

.article-section .card:nth-child(2) {
  margin-right: 0;
}

.article-section .card:nth-child(4) {
  margin-right: 0;
  margin-bottom: 0;
}

.article-section .card:nth-child(3) {
  margin-bottom: 0;
}

.article-section .columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.article-section .section-title > div {
  display: inline-block;
}

.article-section .section-title .iconic {
  position: relative;
  top: -5px;
  margin-top: -5px;
  margin-right: 20px;
}

.article-section .section-title .iconic span {
  font-size: 3.4em;
  color: #f7ac01;
}

.article-carousel:hover .title {
  bottom: 0;
}

.article-carousel .owl-item:hover .image img {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.article-carousel .card-content {
  height: 240px;
}

.article-carousel .title {
  font-family: 'FontBook', Helvetica, Arial;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  position: absolute;
  bottom: -80px;
  left: 0;
  padding: 10px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.article-carousel .image {
  overflow: hidden;
}

.article-carousel .image img {
  border-radius: 6px 6px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.article-carousel .card .card-footer-item:not(:last-child) {
  border-right: none;
  padding-left: 0;
}

.article-carousel .card .card-footer-item {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.article-carousel .card .card-footer-item:last-child {
  background: none;
}

.article-carousel .card .card-footer-item:last-child:hover {
  background-color: transparent;
}

.card-footer .card-footer-item:first-child span {
  font-size: 12px;
}

.card-footer .card-footer-item:last-child {
  background-color: #eee;
}

.card-footer .card-footer-item:last-child:hover {
  background-color: #1f2466;
}

.tile.card.buttonize {
  background-color: #1f2466;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tile.card.buttonize:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.tile.card.buttonize .link:hover .tile.card.buttonize .card-footer {
  background-color: #f7ac01;
}

.tile.card.buttonize .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.5rem;
  border-top: none;
  background-color: #444;
}

.tile.card.buttonize .card-footer .icon, .tile.card.buttonize .card-footer .titanic {
  font-size: 2em;
  color: #eee;
}

.tile.card.buttonize .card-footer:hover {
  background-color: #f7ac01;
}

.tile.card.buttonize .card-footer:hover span {
  color: #444;
}

.articles .card-content p {
  font-size: 14px;
  color: #999;
}

.card .level {
  padding: 1.5rem;
}

.tile.card {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.tile.card:hover {
  background-color: #1f2466;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.tile.card:hover h4 {
  color: #fff;
}

.tile.card .level p {
  font-size: 14px;
  color: #999;
}

.partner {
  background-color: #f3f3f3;
}

.partner .owl-item {
  cursor: move;
}

.partner figure figcaption {
  margin-top: 15px;
}

.four-item-carousel figure figcaption {
  padding: 10px;
  text-align: center;
  line-height: 1.4;
}

.voting {
  position: relative;
  background-color: #1f2466;
  padding-top: 6em;
  overflow-y: hidden;
}

.voting#voting-page {
  height: 100vh;
}

.voting .columns .column:last-of-type {
  padding-left: 3em;
}

.voting .title {
  color: #f7ac01;
}

.voting .radio {
  display: block;
  margin-bottom: 1.2em;
}

.voting .radio + .radio {
  margin-left: 0;
}

.voting .radio:hover {
  color: #f7ac01;
}

.voting:before {
  content: '';
  background: url(../img/nyatkadir.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .1;
}

.voting form {
  width: inherit;
}

.voting .voting-result {
  margin-bottom: 2em;
}

.voting .voting-result .progress:not(:last-child) {
  margin-bottom: 1rem;
}

.voting .voting-result h4 {
  font-family: 'FontBook', Helvetica, Arial;
  color: #ddd;
}

.voting .share h3 {
  color: #f7ac01;
}

.successful.box {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #f7ac01;
  width: 100%;
}

.successful.box .icon {
  font-size: 3rem;
}

.successful.box .icon.mdi {
  color: rgba(247, 172, 1, 0.5);
}

.successful.box .content h3 {
  color: #f7ac01;
}

.successful.box .content p {
  color: #f3f3f3;
}

.news-section {
  background-color: #f3f3f3;
}

.news-section .column {
  padding: 0;
}

.news-section .column .box {
  border-radius: 5px 0 0 5px;
}

.news-section .section-title {
  margin-bottom: 4em;
}

.news-section .news-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.news-section .news-started .box .image img {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.news-section .news-started .box .media {
  padding-bottom: 2em;
  padding-top: 1.8rem;
}

.news-section .news-started .box .media:first-child {
  padding-top: 0;
}

.news-section .news-started .box .media-content {
  position: relative;
}

.news-section .news-started .box .media-content h3 {
  margin-bottom: 1em;
  line-height: 1.6;
}

.news-section .news-started .box .media-content p {
  position: relative;
  padding-left: 6em;
  line-height: 2;
}

.news-section .news-started .box .media-content span {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  font-size: 5rem;
  color: #f7ac01;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.17);
}

.news-section .news-started .box .media-content a {
  display: block;
}

.news-section .news-started .read-more {
  margin-top: 3em;
  margin-bottom: 0;
}

.news-section .read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  text-align: left;
  background: -webkit-gradient(linear, left bottom, left top, from(#1f2466), to(#2b328d));
  background: -webkit-linear-gradient(bottom, #1f2466, #2b328d);
  background: -o-linear-gradient(bottom, #1f2466, #2b328d);
  background: linear-gradient(to top, #1f2466, #2b328d);
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.news-section .read-more h4 {
  color: #eee;
  padding-left: 2em;
  line-height: 1.3;
  font-size: 24px;
}

.news-section .read-more a {
  font-size: 3em;
  line-height: 3.1;
  padding: 0 1.2em;
  background: #f7ac01;
  color: #f2f2f2;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.news-section .read-more a:hover {
  background: #13163f;
}

.news-section .video-pop {
  position: relative;
  max-height: 80%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 4em;
  height: 400px;
  max-width: 100%;
  -webkit-box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.news-section .video-pop:hover img {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.news-section .video-pop:hover .caption .play-button {
  -webkit-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  transform: translateX(-150px);
}

.news-section .video-pop:hover .caption .title {
  opacity: 1;
  -webkit-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  transform: translateX(-80px);
}

.news-section .video-pop .image {
  width: 100%;
}

.news-section .video-pop .image img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.news-section .video-pop .caption {
  position: absolute;
  top: 35%;
  left: 50%;
}

.news-section .video-pop .caption .title {
  position: relative;
  top: -80px;
  display: block;
  color: #f7ac01;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #c3943c;
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 148, 60, 0.5)), color-stop(#c3943c), color-stop(#ffe09e), color-stop(#c3943c), to(rgba(195, 148, 60, 0.5)));
  background: -webkit-linear-gradient(left, rgba(195, 148, 60, 0.5), #c3943c, #ffe09e, #c3943c, rgba(195, 148, 60, 0.5));
  background: -o-linear-gradient(left, rgba(195, 148, 60, 0.5), #c3943c, #ffe09e, #c3943c, rgba(195, 148, 60, 0.5));
  background: linear-gradient(left, rgba(195, 148, 60, 0.5), #c3943c, #ffe09e, #c3943c, rgba(195, 148, 60, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.news-section .video-pop .caption .play-button {
  margin-left: -30px;
  width: 80px;
  height: 80px;
  background: #eee;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: .7;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.news-section .video-pop .caption .play-button:hover {
  opacity: 1;
}

.news-section .video-pop .caption .play-button i {
  font-size: 3em;
}

.aspirasi .introduction {
  color: #ddd;
}

.aspirasi .introduction h5 {
  color: #fff;
}

.aspirasi .introduction h2 {
  color: #f7ac01;
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: .6em;
}

.aspirasi .successful.box {
  width: 80%;
  margin: 0 auto;
}

form {
  width: 80%;
  margin: 0 auto;
}

form .input + .help, form .textarea + .help {
  display: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

form .help {
  color: #f7ac01;
}

.input, .textarea, .select {
  font-family: "FontBook", Helvetica, Arial, sans-serif;
  border-radius: 2px;
  font-size: .85rem;
  height: 3.3em;
  padding-left: calc(1.2em - 1px);
  border: 1px transparent;
  color: #777;
  background-color: #a1a2ab;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.input:placeholder, .textarea:placeholder, .select:placeholder {
  color: #ddd;
}

.input:focus + .help, .textarea:focus + .help, .select:focus + .help {
  display: block;
}

.field-body > .field:not(:last-child) {
  margin-bottom: 0;
}

.field:not(:last-child) {
  margin-bottom: 1em;
}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  background-color: #f9f9f9;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.button.is-submit {
  font-family: "FontBook", Helvetica, Arial, sans-serif;
  background: #f7ac01;
  border-color: transparent;
  color: #fff;
  display: block;
  width: 100%;
  min-height: 50px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.button.is-submit:hover {
  background: transparent;
  border: 1px solid #f7ac01;
  color: #f7ac01;
}

.modal .modal-content {
  overflow: inherit;
}

footer.footer {
  position: relative;
  background-color: #1f2466;
  background: url(../img/bg-footer.png) no-repeat center center;
  background-size: cover;
  padding: 1rem 0 0 0;
}

footer.footer > .level {
  padding: 0 1.6rem;
}

footer.footer > .level.copyright {
  padding-top: .8rem;
  padding-bottom: .8rem;
}

footer.footer li h3 {
  color: #fff;
}

footer.footer .old-man img {
  position: absolute;
  right: 20px;
  bottom: 12px;
}

footer.footer .column h3 {
  color: #ff5a5a;
  font-weight: normal;
}

footer.footer .quick-links {
  margin-bottom: 1em;
}

footer.footer .quick-links ul li {
  display: inline-block;
  margin-right: 1.4em;
  line-height: 2;
}

footer.footer .social {
  margin-bottom: 20px;
}

footer.footer .social ul li {
  margin-right: 1.5em;
  display: inline-block;
}

footer.footer figure.logo-footer img {
  width: 120px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.16);
}

.copyright {
  background-color: #1f2466;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.copyright * {
  color: #ddd;
}

.nyat-hero {
  margin-top: 5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nyat-hero .title {
  color: #f7ac01;
}

.nyat-hero .subtitle {
  color: #ddd;
}

.few-gallery {
  background-color: #1f2466;
  padding: 3rem 0 6rem 0;
  border-bottom: 5px solid #f7ac01;
}

.few-gallery .image-gallery, .few-gallery .video-gallery {
  position: relative;
  padding: 3rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.few-gallery .image-gallery:last-child, .few-gallery .video-gallery:last-child {
  border-bottom: none;
}

.few-gallery .image-gallery:before {
  content: '';
  position: absolute;
  left: -100%;
  bottom: -1px;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.few-gallery .image-gallery:after {
  content: '';
  position: absolute;
  left: 100%;
  bottom: -1px;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.few-gallery .owl-carousel {
  cursor: move;
}

.few-gallery .owl-carousel .card-image {
  height: 280px;
}

.few-gallery .owl-carousel .card-image img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.few-gallery .owl-carousel .card-footer .card-footer-item {
  font-size: .8rem;
}

.few-gallery .owl-carousel .card-footer .card-footer-item:hover {
  background-color: initial;
}

.achievements {
  position: relative;
}

.achievements:before {
  content: '';
  background: url("../img/slide1.jpg") center no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .3;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.achievements dl dt {
  font-weight: bold;
}

.achievements dl dd {
  margin-bottom: 10px;
  padding-left: 1.7em;
}

.achievements .award .level {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.achievements .award .level-item {
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  margin-right: 15px;
}

.achievements .award .icon {
  color: #f7ac01;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.achievements .imaginary {
  position: absolute;
  left: -50%;
  top: 20%;
  width: 50%;
}

.achievements .imaginary img:last-child {
  top: -300px;
  left: 30%;
  position: relative;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.fraksi .box {
  background-color: #f7ac01;
  padding: 3em 3em 4em 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  margin-top: -110px;
  min-height: 130%;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.fraksi .box .image {
  width: 30%;
  float: left;
  margin-right: 2em;
}

.fraksi .box:before {
  content: '';
  background: #f7ac01;
  width: 200px;
  height: 100%;
  position: absolute;
  left: -200px;
  top: 0;
}

.fraksi .button-cta {
  right: 0;
  bottom: -50px;
  z-index: 1;
}

.articles {
  background-color: #eee;
  background: url(../img/bg-section.png) center no-repeat;
  background-size: cover;
  padding-bottom: 7rem;
}

.articles .article-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

.articles .article-wrapper:hover .box:before {
  background: rgba(0, 0, 0, 0.5);
}

.articles .article-wrapper .box:hover:before {
  background: transparent;
}

.articles .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 23%;
  flex: 0 1 23%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 15px;
  background-color: #fefefe;
  height: 180px;
  max-height: 190px;
  min-height: inherit;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.articles .box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.articles .box:hover .title {
  color: #eee;
}

.articles .box:hover .link {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.articles .box .title {
  color: #eee;
  font-size: 1.2em;
  margin-bottom: 1em;
  line-height: 1.4;
}

.articles .box .subtitle {
  color: #f7ac01;
  font-size: 14px;
  margin: 0;
}

.articles .box .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f7ac01;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(12px);
  -ms-transform: translateY(12px);
  transform: translateY(12px);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.articles .box .link:hover {
  bottom: 15px;
}

.articles .box .link .icon {
  color: #1f2466;
  font-size: 2.2em;
}

.article {
  margin-top: 5em;
}

.article .breadcrumb {
  margin-bottom: 3em;
  border-bottom: 1px solid #ddd;
}

.article .breadcrumb li {
  font-size: 14px;
}

.article .breadcrumb a {
  color: #f7ac01;
}

.article .article-detail {
  margin-bottom: 3em;
}

.article .article-detail .content {
  padding-bottom: 3em;
}

.article .article-detail hr {
  width: 10%;
}

.article .article-detail .title {
  color: #1f2466;
  width: 70%;
}

.article .article-detail .subtitle {
  color: #999;
  font-size: 14px;
  margin-bottom: 2em;
  margin-top: -1rem;
}

.article .article-detail .owl-item {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.article .article-detail .owl-item:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.article .article-detail .owl-item .image {
  height: 300px;
}

.article .article-detail .owl-item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.top-post li {
  margin-bottom: 15px;
  padding-bottom: 1em;
  border-bottom: 1px solid #f7ac01;
}

.top-post li a {
  display: block;
  margin-bottom: .6em;
}

.top-post li p {
  font-size: 12px;
}

.top-post .title {
  color: #f7ac01;
}

.similar .card {
  display: inline-block;
  width: 30%;
  margin-right: 15px;
}

.similar .card .card-content {
  height: 180px;
}

.similar .card .title {
  font-size: 1.4em;
}

.similar .card .date {
  font-size: 12px;
  color: #999;
}

.similar .card a {
  color: #1f2466;
}

.similar .card a:hover {
  color: #f7ac01;
}

.login {
  position: relative;
  background-color: #1f2466;
  background: url(../img/bg-footer.png) no-repeat center center;
  background-size: cover;
}

.login .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-wrapper, .register-wrapper, .forgot-wrapper {
  display: none;
  visibility: hidden;
  width: 60%;
}

.login-wrapper .login-title, .register-wrapper .login-title, .forgot-wrapper .login-title {
  text-align: center;
  margin-bottom: 2em;
}

.login-wrapper .login-title .title, .register-wrapper .login-title .title, .forgot-wrapper .login-title .title {
  color: #f7ac01;
}

.login-wrapper .login-title .subtitle, .register-wrapper .login-title .subtitle, .forgot-wrapper .login-title .subtitle {
  color: #ddd;
}

.login-wrapper form, .register-wrapper form, .forgot-wrapper form {
  margin-bottom: 2em;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.login-wrapper form .button.is-static, .register-wrapper form .button.is-static, .forgot-wrapper form .button.is-static {
  height: 2.8rem;
}

.login-wrapper form .gender, .register-wrapper form .gender, .forgot-wrapper form .gender {
  margin-top: .8em;
}

.login-wrapper .switch-login, .login-wrapper .forgot, .register-wrapper .switch-login, .register-wrapper .forgot, .forgot-wrapper .switch-login, .forgot-wrapper .forgot {
  text-align: center;
}

.login-wrapper .switch-login, .register-wrapper .switch-login, .forgot-wrapper .switch-login {
  margin-bottom: 1.4em;
}

.login-wrapper.is-active, .register-wrapper.is-active, .forgot-wrapper.is-active {
  display: block;
  visibility: visible;
}

.login-wrapper .message, .register-wrapper .message, .forgot-wrapper .message {
  width: 80%;
  margin: 0 auto;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.login-wrapper .message.none, .register-wrapper .message.none, .forgot-wrapper .message.none {
  display: none;
  visibility: hidden;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.login-wrapper .message .message-body, .register-wrapper .message .message-body, .forgot-wrapper .message .message-body {
  color: #777;
  background-color: #fff;
}

.register-wrapper {
  display: none;
  visibility: hidden;
}

.radio {
  margin-right: 2em;
}

.radio:hover {
  color: #f7ac01;
}

.checkbox:hover, .radio:hover {
  color: #f7ac01;
}

.news .wrapper .card {
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
}

.news .card {
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 3rem;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.news .card:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.news .card .card-image .image {
  height: 130px;
  overflow: hidden;
}

.news .card .card-image .image img {
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 130px;
}

.news .card .card-content {
  padding: 1.2rem;
}

.news .card .card-content a {
  font-size: 1.25rem;
  color: #1f2466;
  margin-bottom: 10px;
}

.news .card .card-content a:hover {
  color: #f7ac01;
}

.news .card .card-content time {
  color: #999;
  margin-bottom: 10px;
  display: block;
}

.news .card .card-content .icon {
  width: 1rem;
  height: 1rem;
}

.news .card .card-footer {
  border-top: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.news-slider {
  margin-bottom: 2em;
}

.news-slider:hover {
  cursor: move;
}

.news-slider figure {
  margin: 0;
}

#disqus_thread {
  margin-bottom: 4em !important;
}

.gallery-wrapper .card-footer {
  min-height: 70px;
}

.gallery-wrapper .card-footer .card-footer-item {
  text-align: center;
  font-size: 12px;
}

.gallery-wrapper .tab.hero.is-primary {
  background-color: transparent !important;
}

.gallery-wrapper .tab .hero-body {
  padding-top: 0;
}

.gallery-wrapper .tab .hero-body .title {
  margin-top: 0;
}

.gallery-wrapper .tab .box {
  display: inline-block;
  width: 24%;
  padding: 0;
  margin-bottom: .5rem;
  border-radius: 0;
  vertical-align: top;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.gallery-wrapper .tab .box:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.gallery-wrapper .tab .box:hover img {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.gallery-wrapper .tab .box:hover h4 {
  position: absolute;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.gallery-wrapper .tab .box h4 {
  position: absolute;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  opacity: 0;
  left: 10px;
  bottom: -40px;
  line-height: 1.2;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.gallery-wrapper .tab .box .play-button {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -30px;
  width: 50px;
  height: 50px;
  background: #eee;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: .7;
}

.gallery-wrapper .tab .box .play-button:hover {
  opacity: 1;
}

.gallery-wrapper .tab .box .play-button i {
  font-size: 2em;
}

.gallery-wrapper .tab .box .image {
  padding-top: 100%;
}

.gallery-wrapper .tab .box .image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0;
}

.ui.styled.accordion {
  background: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ui.styled.accordion .title, .ui.styled.accordion .content {
  padding-left: 0 !important;
}

.ui.styled.accordion .title {
  color: #f7ac01 !important;
  font-weight: inherit !important;
}

.ui.styled.accordion .title:not(.ui) {
  font-family: inherit !important;
}

.ui.styled.accordion .content p {
  padding-left: 1.7em !important;
}

.ui.styled.accordion .content ul {
  margin: 0 !important;
  margin-left: 2.8em !important;
}

.press .wrapper .card {
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
}

.press .card {
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 3rem;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.press .card:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.press .card .card-image .image {
  height: 130px;
  overflow: hidden;
}

.press .card .card-image .image img {
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 120px;
}

.press .card .card-content {
  padding: 1.2rem;
}

.press .card .card-content a {
  font-size: 1.25rem;
  color: #1f2466;
  margin-bottom: 10px;
}

.press .card .card-content a:hover {
  color: #f7ac01;
}

.press .card .card-content time {
  color: #999;
  margin-bottom: 10px;
  display: block;
}

.press .card .card-content .icon {
  width: 1rem;
  height: 1rem;
}

.press .card .card-footer {
  border-top: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.press .card .card-footer p {
  color: #f7ac01;
}

.press-slider {
  cursor: move;
}

.press-detail {
  margin-top: 5em;
}

.press-detail .breadcrumb {
  margin-bottom: 3em;
  border-bottom: 1px solid #ddd;
}

.press-detail .breadcrumb li {
  font-size: 14px;
}

.press-detail .breadcrumb a {
  color: #f7ac01;
}

.press-detail .press-detail {
  margin-bottom: 3em;
}

.press-detail .press-detail .content {
  padding-bottom: 3em;
}

.press-detail .press-detail hr {
  width: 10%;
}

.press-detail .press-detail .title {
  color: #1f2466;
  width: 70%;
}

.press-detail .press-detail .subtitle {
  color: #999;
  font-size: 14px;
  margin-bottom: 2em;
  margin-top: -1rem;
}

.press-slider {
  cursor: move;
  margin-bottom: 2em;
}

.press-slider .owl-item {
  cursor: move;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.press-slider .owl-item:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.press-slider .owl-item figure {
  margin: 0;
  height: 200px;
}

.press-slider .owl-item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.press-slider .owl-item a {
  cursor: move;
}

.share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.share ul li {
  margin-right: 2em;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.share ul li:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.share ul li a {
  font-size: 1.4rem;
}

.account {
  background-color: #f3f3f3;
}

.account .section-title {
  text-align: center;
}

.account .hero-body {
  padding-top: 0;
}

.account h4.subtitle {
  color: #999;
  font-weight: 100;
  font-size: 16px;
}

.account form.image-upload {
  display: block;
  width: initial;
}

.account form.image-upload button {
  display: block;
  width: 100%;
}

label[for=image-upload] {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  border: 3px solid #ccc;
  color: #666;
  font-size: .8rem;
  font-weight: bold;
  background: #eee;
  padding: 8px 15px;
  border-radius: 5px;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  cursor: pointer;
}

label[for=image-upload]:hover {
  background: #ddd;
}

label[for=image-upload] input {
  display: none;
}

.thumb {
  position: relative;
  height: 170px;
  width: 200px;
  margin-bottom: 1em;
  overflow: hidden;
  border-radius: 4px;
  cursor: move;
}

.thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.thumb:before {
  content: "";
  display: block;
  position: absolute;
  width: 96%;
  height: 96%;
  border: 3px dashed #eee;
  z-index: 9;
  top: 1%;
  left: 1%;
  opacity: 0;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  pointer-events: none;
}

.thumb:hover :before {
  opacity: 0.6;
}

.thumb:hover label[for=image-upload] {
  opacity: 1;
  visibility: visible;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  position: relative;
  display: inline-block;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.inputfile + label:hover span {
  display: block;
  cursor: pointer;
}

.inputfile + label img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.inputfile + label span {
  display: none;
  background-color: #ff3860;
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: -40px;
  position: absolute;
  top: 45%;
  left: 50%;
  opacity: .6;
  -webkit-box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
}

.inputfile + label span:active {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

.inputfile + label span:hover {
  opacity: 1;
}

.inputfile:focus + label, .inputfile + label:hover img {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  opacity: .7;
  cursor: pointer;
}

.account-wrapper {
  background-color: #fff;
  width: 65%;
  border-radius: 8px;
  margin: 0 auto;
  border: 1px solid #ddd;
  -webkit-box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.1);
}

.account-wrapper .topbar {
  padding: 1em 1.4em;
  margin-bottom: 0;
  background-color: #eee;
  border-radius: 8px 8px 0 0;
}

.account-wrapper .topbar .level-left .level-item {
  display: block;
  width: 100%;
}

.account-wrapper .topbar .level-right span {
  font-size: 20px;
}

.account-wrapper .topbar .level-right small {
  font-size: 12px;
}

.account-wrapper .topbar figure.image {
  border-radius: 50%;
}

.account-wrapper .topbar figure.image img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.account-wrapper .topbar input[type="file"] {
  display: none;
}

.account-wrapper .tab-wrapper {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#f9f9f9));
  background: -webkit-linear-gradient(bottom, #eee, #f9f9f9);
  background: -o-linear-gradient(bottom, #eee, #f9f9f9);
  background: linear-gradient(to top, #eee, #f9f9f9);
}

.account-wrapper .tab-content {
  display: none;
  visibility: hidden;
}

.account-wrapper .tab-content.is-active {
  display: block;
  visibility: visible;
}

.account-wrapper .tab-content .title {
  color: #f7ac01;
  margin-bottom: 2em !important;
  padding-left: 1em;
}

.account-wrapper .tab-link {
  padding: 1em 2.4em;
}

.account-wrapper .tab-link.is-active {
  background-color: #1f2466;
  border-bottom: 2px solid #f7ac01;
  color: #fff;
}

.account-wrapper .level:first-child {
  padding: 1em 1.4em;
}

.account-wrapper .user-info dt {
  font-weight: bold;
}

.account-wrapper .user-info dd {
  margin-bottom: 20px;
}

.account-wrapper .content .polling-list *, .account-wrapper .content .aspirasi-list * {
  margin-bottom: 0;
}

.account-wrapper .polling-item {
  margin-left: 0;
}

.account-wrapper .polling-item li {
  padding: 0 1.4em 1.4em 1.4em;
  margin-bottom: 1.4em !important;
  border-bottom: 1px solid #f7ac01;
  list-style-type: none;
}

.account-wrapper .polling-item li:last-child {
  border-bottom: none;
}

.account-wrapper .polling-item li h4, .account-wrapper .polling-item li p {
  margin-bottom: .6em !important;
}

.account-wrapper .aspirasi-item {
  margin-left: 0;
}

.account-wrapper .aspirasi-item li {
  padding: 0 1.4em 1.4em 1.4em;
  margin-bottom: 1.4em !important;
  border-bottom: 1px solid #f7ac01;
  list-style-type: none;
}

.account-wrapper .aspirasi-item li:last-child {
  border-bottom: none;
}

.account-wrapper .aspirasi-item li h4, .account-wrapper .aspirasi-item li p {
  margin-bottom: .6em !important;
}
