@import '../fonts/fonts.css';
@import "var.scss";




.p0 {
    padding: 0 !important;
}

.m0 {
    margin: 0 !important;
}

.p20 {
    padding: 20px !important;
}

.pt5em {
    padding-top: 5em !important;
}

.pt10em {
    padding-top: 10em !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr5em {
    margin-right: 5em !important;
}

.tile.mr20 {
    margin-right: 20px !important;
}

.yellowish {
    color: $yellow !important;
}

.reddish {
    color: $reddish !important;
}

.goldish {
    @include goldGradient;
}

.white {
    color: #fff !important;
}

.columns.is-centered {
    align-items: center;
}

.lhnormal {
    line-height: 1.6 !important;
}

figure {
    margin: 0;
}









body {
    font-family: $fontDefault;
    line-height: 1.6;
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'FontBold', Arial, sans-serif;
    color: $darkBlue;
}

a {
    color: $grey;
    &:hover {
        color: $yellow;
    }
}





.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../../frontend/img/preloader.GIF');
}




// Waaah sudin  mulai Navbar nich yaaa heheheh

.headroom {
    will-change: transform;
    transition: transform .3s cubic-bezier(0.82, -0.13, 0, 1.01);
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.navbar {
    background: $gradientDarkBlue;
    position: fixed;
    z-index: 20;
    right: 0;
    left: 0;
    top: 0;
}

.navbar a.navbar-item {
    &:hover {
        background-color: $greyNavbarItem;
        color: #eee;
    }
    &:active {
        background-color: $yellow;
    }
}

.navbar a.navbar-item, .navbar-item, .navbar-link {
    color: #999;
    transition: all .3s ease;
}

.navbar-brand {
    margin-right: 2.4em;
}

.main-logo {
    width: 80px;
    padding: 0;
    img {
        height: auto !important;
        max-height: initial;
    }
}

.navbar-link {
    &:after {
        border: 1px solid $yellow;
        border-top: 0;
        border-right: 0;
    }
}





// Bagian Home deh ini ya heheheh


.main-slider {
    position: relative;
    z-index: 10;
    top: 50px;
    .tp-caption {
        z-index: 5 !important;
        h2 {
            font-size: 20px;
        }
    }
    .overlay-slide {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.05);
    }
    .tp-bullets.preview3 .bullet:hover, .tp-bullets.preview3 .bullet.selected {
        border: 5px solid $yellow !important;
    }
    .tparrows.preview3 {
        box-shadow: 2px 5px 10px rgba(0, 0, 0, .14);
        border-radius: 3px;
    }
}

.ataglance .columns {
    > .column:first-child {
        padding: 0;
    }
    > .column:last-child {
        background-color: #d9d9d9;
    }
}

.ataglance {
    position: relative;
    padding-bottom: 0;
    padding-top: 3.8rem;
    h3 {
        font-size: 2.4rem;
        line-height: 1.2;
    }
    p {
        font-size: 1rem;
    }
    img {
        width: 100%;
    }
}

.button-cta {
    width: 330px;
    position: absolute;
    right: -15px;
    bottom: -150px;
    padding: 40px;
    background-color: $darkBlue;
    transition: all .3s ease;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
    }
    a {
        display: block;
    }
    .level-item {
        flex-direction: column;
        align-items: flex-start;
        .icon {
            font-size: 2rem;
        }
        h3 {
            color: $yellow;
            font-size: 2rem;
        }
    }
}

.section-title {
    margin-bottom: 2em;
    line-height: 1.6;
    &.dark {
        color: #ddd;
        h3 {
            color: #ddd;
        }
    }
    h3 {
        font-size: 1.8rem;
        line-height: 1.4;
    }
}

.read-more {
    margin-bottom: 2em;
    text-align: right;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.article-section {
    background: url(../img/bg-section.png) no-repeat center;
    background-size: cover;
    background-color: $darkBlue;
    .card {
        border-radius: 6px;
        cursor: move;
        transition: all .3s ease;
        &:hover {
            @include hoverCard;
        }
        .card-footer {
            border-radius: 6px;
            .card-footer-item:last-child {
                border-radius: 0 0 6px 0;
                padding-right: 0;
            }
        }
    }
    .card:nth-child(2) {
        margin-right: 0;
    }
    .card:nth-child(4) {
        margin-right: 0;
        margin-bottom: 0;
    }
    .card:nth-child(3) {
        margin-bottom: 0;
    }
    .columns {
        .column {
            display: flex;
            padding: 0;
        }
    }
    .section-title {
        > div {
            display: inline-block;
        }
        .iconic {
            position: relative;
            top: -5px;
            margin-top: -5px;
            margin-right: 20px;
            span {
                font-size: 3.4em;
                color: $yellow;
            }
        }
    }
}

.article-carousel {
    &:hover {
        .title {
            bottom: 0;
        }
    }
    .card-content {
        height: 240px;
    }
    .title {
        font-family: 'FontBook', Helvetica, Arial;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.3;
        position: absolute;
        bottom: -80px;
        left: 0;
        padding: 10px;
        transition: all .3s ease;
    }
    .image {
        overflow: hidden;
        img {
            border-radius: 6px 6px 0 0;
        }
    }
    .card {
        .card-footer-item:not(:last-child) {
            border-right: none;
            padding-left: 0;
        }
        .card-footer-item {
            justify-content: flex-end;
            &:last-child {
                background: none;
            }
        }
    }
}

.card-footer {
    .card-footer-item {
        &:first-child {
            span {
                font-size: 12px;
            }
        }
        &:last-child {
            background-color: #eee;
            &:hover {
                background-color: $darkBlue;
            }
        }
    }
}

.tile.card.buttonize {
    background-color: $darkBlue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: none;
    &:hover {
        transform: none;
    }

    .link:hover .tile.card.buttonize .card-footer {
        background-color: $yellow;
    }

    .card-footer {
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        border-top: none;
        background-color: #444;
        .icon, .titanic {
            font-size: 2em;
            color: #eee;
        }
        &:hover {
            background-color: $yellow;
        }
        &:hover span {
            color: #444;
        }
    }
}

.articles {
    .card-content {
        p {
            font-size: 14px;
            color: #999;
        }
    }
}

.card .level {
    padding: 1.5rem;
}

.tile.card {
    transition: all .3s ease;
    &:hover {
        background-color: $darkBlue;
        transform: translateY(-5px);
    }
    &:hover h4 {
        color: #fff;
    }
    .level {
        p {
            font-size: 14px;
            color: #999;
        }
    }
}



.partner {
    background-color: #f3f3f3;
    .owl-item {
        cursor: move;
    }
    figure {
        figcaption {
            margin-top: 15px;
        }
    }
}

.four-item-carousel {
    figure {
        figcaption {
            padding: 10px;
            text-align: center;
            line-height: 1.4;
        }
    }
}




.voting {
    position: relative;
    background-color: $darkBlue;
    .title {
        color: $yellow;
    }
    .radio {
        display: block;
        margin-bottom: 1.2em;
        + .radio {
            margin-left: 0;
        }
        &:hover {
            color: $yellow;
        }
    }
    &:before {
        content: '';
        background: url(../img/nyatkadir.jpg) no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .1;
    }
    form {
        width: inherit;
    }
    .voting-result {
        margin-bottom: 2em;
        .progress {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
        h4 {
            font-family: 'FontBook', Helvetica, Arial;
            color: #ddd;
        }
    }
    .share {
        h3 {
            color: $yellow;
        }
    }
}

.successful.box {
    // display: none;
    background: rgba(0, 0, 0, .2);
    border: 2px solid $yellow;
    width: 100%;
    .icon {
        font-size: 3rem;
        &.mdi {
            color: transparentize($yellow, .5);
        }
    }
    .content {
        h3 {
            color: $yellow;
        }
        p {
            color: #f3f3f3;
        }
    }
}



.news-section {
    background-color: #f3f3f3;
    .column {
        padding: 0;
        .box {
            border-radius: 5px 0 0 5px;
        }
    }
    .section-title {
        margin-bottom: 4em;
    }
    .news-started {
        display: flex;
        flex-wrap: wrap;
        .box {
            .image {
                img {
                    border-radius: 50%;
                }
            }
            .media {
                padding-bottom: 2em;
                padding-top: 1.8rem;
                &:first-child {
                    padding-top: 0;
                }
            }
            .media-content {
                position: relative;
                h3 {
                    margin-bottom: 1em;
                    line-height: 1.6;
                }
                p {
                    position: relative;
                    padding-left: 6em;
                    line-height: 2;
                }
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 1;
                    font-size: 5rem;
                    color: $yellow;
                    text-shadow: $textShadow;
                }
                a {
                    display: block;
                    // padding-left: 6em;
                }
            }
        }
        .read-more {
            margin-top: 3em;
            margin-bottom: 0;
        }
    }
    .read-more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        text-align: left;
        background: $gradientDarkBlue;
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
        h4 {
            color: #eee;
            padding-left: 2em;
            line-height: 1.3;
            font-size: 24px;
        }
        a {
            font-size: 3em;
            line-height: 3.1;
            padding: 0 1.2em;
            background: #fdc236;
            color: #f2f2f2;
            transition: all .3s ease;
            &:hover {
                background-color: darken($darkBlue, 10%);
            }
        }
    }
    .video-pop {
        max-height: 80%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 4em;
        height: 400px;
        max-width: 100%;
        transition: all .3s ease;
        &:hover {
            img {
                filter: brightness(.5);
            }
            .caption {
                .play-button {
                    transform: translateX(-150px);
                }
                .title {
                    opacity: 1;
                    transform: translateX(-80px);
                }
            }
        }
        .image {
            width: 100%;
            img {
                transition: all .3s ease;
            }
        }
        .caption {
            position: absolute;
            top: 35%;
            left: 50%;
            .title {
                position: relative;
                top: -80px;
                display: block;
                color: $yellow;
                opacity: 0;
                transition: all .3s ease;
            }
            .play-button {
                margin-left: -30px;
                width: 80px;
                height: 80px;
                background: #eee;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: .7;
                transition: all .3s ease;
                &:hover {
                    opacity: 1;
                }
                i {
                    font-size: 3em;
                }
            }
        }
    }
}



.aspirasi {
    .introduction {
        h5 {
            color: $yellow;
        }
        h2 {
            color: #fff;
            font-size: 2.4rem;
            line-height: 1.4;
            margin-bottom: .6em;
        }
    }
    .successful.box {
        width: 80%;
        margin: 0 auto;
    }
}

form {
    width: 80%;
    margin: 0 auto;
}

.input, .textarea, .select {
    font-family: $fontDefault;
    border-radius: 2px;
    font-size: .85rem;
    height: 3.3em;
    padding-left: calc(1.2em - 1px);
    border: 1px transparent;
    color: #777;
    background-color: $bgInput;
    transition: all .3s ease;
    &:placeholder {
        color: #ddd;
    }
}

.field:not(:last-child) {
    margin-bottom: 1.1rem;
}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
    background-color: #f9f9f9;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .1);
}

.button.is-submit {
    font-family: $fontDefault;
    background-color: $yellow;
    border-color: transparent;
    color: #fff;
    display: block;
    width: 100%;
    min-height: 50px;
    transition: all .3s ease;
    &:hover {
        background-color: transparent;
        border: 1px solid $yellow;
        color: $yellow;
    }
}

.modal {
    .modal-content {
        overflow: inherit;
    }
}





// Footer wak ini heheh

footer.footer {
    position: relative;
    background-color: $darkBlue;
    background: url(../img/bg-footer.png) no-repeat center center;
    background-size: cover;
    padding: 1rem 0 0 0;
    > .level {
        padding: 0 1.6rem;
        &.copyright {
            padding-top: .8rem;
            padding-bottom: .8rem;
        }
    }
    li h3 {
        color: #fff;
    }
    .old-man {
        img {
            position: absolute;
            right: 20px;
            bottom: 12px;
        }
    }
    .column {
        h3 {
            color: $reddish;
            font-weight: normal;
        }
    }
    .quick-links {
        ul {
            li {
                display: inline-block;
                margin-right: 1.4em;
            }
        }
    }
    .social {
        margin-bottom: 20px;
        ul {
            li {
                margin-right: 1.5em;
                display: inline-block;
            }
        }
    }
    figure.logo-footer {
        img {
            width: 120px;
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.16);
        }
    }
}

.copyright {
    background-color: $darkBlue;
    border-top: 2px solid rgba(255, 255, 255, .2);
    * {
        color: #ddd;
    }
}





// Maaak serius dah masuk ke Tentang nih? Cool!

.nyat-hero {
    margin-top: 5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .title {
        color: $yellow;
    }
    .subtitle {
        color: #ddd;
    }
}

.few-gallery {
    background-color: $darkBlue;
    padding: 3rem 0 6rem 0;
    .card-footer {
        .card-footer-item:hover {
            background-color: initial;
        }
    }
    .image-gallery, .video-gallery {
        padding: 3rem 6rem;
        border-bottom: 1px solid transparentize($yellow, .5);
        &:last-child {
            border-bottom: none;
        }
    }
}

.achievements {
    background: url(../img/slide1.jpg) center no-repeat;
    background-size: cover;
    dl {
        dt {
            font-weight: bold;
        }
        dd {
            margin-bottom: 10px;
        }
    }
    .award .level-item {
        justify-content: stretch;
    }
}

.fraksi {
    .box {
        background-color: #fdc236;
        padding-bottom: 4em;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: relative;
        margin-top: -110px;
        min-height: 130%;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, .1);
        .image {
            width: 30%;
            float: left;
            margin-right: 2em;
        }
        &:before {
            content: '';
            background: $yellow;
            width: 200px;
            height: 100%;
            position: absolute;
            left: -200px;
            top: 0;
        }
    }
    .button-cta {
        right: 0;
        bottom: -50px;
        z-index: 1;
    }
}





// Widih gawat! Dah masuk ke Articles wak hahahah!

.articles {
    background-color: #eee;
    background: url(../img/bg-section.png) center no-repeat;
    background-size: cover;
    padding-bottom: 7rem;
    .box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fefefe;
        min-height: 180px;
        transition: all .3s ease;
        &:hover {
            background-color: $darkBlue;
            .title {
                color: #eee;
            }
            .link {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }
        .title {
            font-size: 1.5em;
            margin-bottom: 1em;
            line-height: 1.4;
        }
        .subtitle {
            color: $yellow;
            font-size: 14px;
            margin: 0;
        }
        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #eee;
            bottom: 10px;
            right: 10px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(12px);
            transition: all .3s ease;
            .icon {
                font-size: 2.2em;
            }
        }
    }
    .tile {
        &.has-bg {
            .title {
                color: #fff;
                &:hover {
                    color: $yellow;
                }
            }
            .box {
                opacity: .6;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}





// Hell yeaaah sudin nyampek ke Article Detail! Heheh.

.article {
    margin-top: 5em;
    .breadcrumb {
        margin-bottom: 3em;
        li {
            font-size: 14px;
        }
        a {
            color: $yellow;
        }
    }
    .article-detail {
        margin-bottom: 3em;
        .content {
            padding-bottom: 3em;
        }
        hr {
            width: 10%;
        }
        .title {
            color: $darkBlue;
            width: 70%;
        }
        .subtitle {
            color: #999;
            font-size: 14px;
            margin-bottom: 2em;
            margin-top: -1rem;
        }
    }
}

.top-post {
    li {
        margin-bottom: 15px;
    }
}

.similar {
    .card {
        display: inline-block;
        width: 30%;
        margin-right: 15px;
        .card-content {
            height: 180px;
        }
        .title {
            font-size: 1.4em;
        }
        .date {
            font-size: 12px;
            color: #999;
        }
        a {
            color: $darkBlue;
            &:hover {
                color: $yellow;
            }
        }
    }
}






// Oke login page wak udah. Heheh.

.login {
    position: relative;
    background-color: $darkBlue;
    background: url(../img/bg-footer.png) no-repeat center center;
    background-size: cover;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.login-wrapper, .register-wrapper, .forgot-wrapper {
    display: none;
    visibility: hidden;
    width: 60%;
    .login-title {
        text-align: center;
        margin-bottom: 2em;
        .title {
            color: $yellow
        }
        .subtitle {
            color: #ddd;
        }
    }
    form {
        margin-bottom: 2em;
        transition: all .3s ease;
        .button.is-static {
            height: 2.8rem;
        }
        .gender {
            margin-top: .8em;
        }
    }
    .switch-login, .forgot {
        text-align: center;
    }
    .switch-login {
        margin-bottom: 1.4em;
    }
    &.is-active {
        display: block;
        visibility: visible;
    }
    .message {
        width: 80%;
        margin: 0 auto;
        opacity: 1;
        visibility: visible;
        transition: all .3s ease;
        &.none {
            display: none;
            visibility: hidden;
            transform: translateY(-5px);
            opacity: 0;
            transition: all .3s ease;
        }
        .message-body {
            color: #777;
            background-color: #fff;
        }
    }
}

.register-wrapper {
    display: none;
    visibility: hidden;
}

.radio {
    margin-right: 2em;
    &:hover {
        color: $yellow;
    }
}

.checkbox:hover, .radio:hover {
    color: $yellow;
}








// Yuppp sudah masuk ke News & Events nih wak. Yihaaaa!

.news {
    .wrapper .card {
        flex-basis: 31%;
    }
}

.news .card {
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 3rem;
    transition: all .3s ease;
    &:hover {
        @include hoverCard;
    }
    .card-image {
        .image {
            height: 130px;
            overflow: hidden;
            img {
                min-height: 130px;
            }
        }
    }
    .card-content {
        padding: 1.2rem;
        a {
            font-size: 1.25rem;
            color: $darkBlue;
            margin-bottom: 10px;
            &:hover {
                color: $yellow;
            }
        }
        time {
            color: #999;
            margin-bottom: 10px;
            display: block;
        }
        .icon {
            width: 1rem;
            height: 1rem;
        }
    }
    .card-footer {
        border-top: none;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}







// Eeeehhh serius nih udah di Detail News? Keyeeen!

.news-slider {
    margin-bottom: 2em;
    &:hover {
        cursor: move;
    }
    figure {
        margin: 0;
    }
}





// Tuh kan udah masuk kan ke page Gallery!

.gallery-wrapper {
    .card-footer {
        min-height: 70px;
        .card-footer-item {
            text-align: center;
            font-size: 12px;
        }
    }
    .tile {
        .box {
            padding: 0;
            border-radius: 0;
            overflow: hidden;
            transition: all .3s ease;
            &:hover {
                transform: translateY(-5px);
                box-shadow: 2px 5px 10px rgba(0, 0, 0, .2);
            }
            &:hover img {
                filter: brightness(.7);
            }
            &:hover h4 {
                position: absolute;
                visibility: visible;
                opacity: 1;
                transform: translateY(-50px);
            }
            h4 {
                position: absolute;
                color: #fff;
                padding: 5px;
                font-size: 14px;
                opacity: 0;
                bottom: -40px;
                line-height: 1.2;
                visibility: hidden;
                transition: all .3s ease;
            }
            .play-button {
                position: absolute;
                top: 40%;
                left: 50%;
                margin-left: -30px;
                width: 50px;
                height: 50px;
                background: #eee;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: .7;
                &:hover {
                    opacity: 1;
                }
                i {
                    font-size: 2em;
                }
            }
        }
        img {
            border-radius: 0;
        }
    }
}







// Yeaaah ini dia Press Media kitaaaa! Yippieee kayeeee!


.press {
    .wrapper .card {
        flex-basis: 32%;
    }
}

.press .card {
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 3rem;
    transition: all .3s ease;
    &:hover {
        @include hoverCard;
    }
    .card-image {
        .image {
            height: 130px;
            overflow: hidden;
            img {
                min-height: 120px;
            }
        }
    }
    .card-content {
        padding: 1.2rem;
        a {
            font-size: 1.25rem;
            color: $darkBlue;
            margin-bottom: 10px;
            &:hover {
                color: $yellow;
            }
        }
        time {
            color: #999;
            margin-bottom: 10px;
            display: block;
        }
        .icon {
            width: 1rem;
            height: 1rem;
        }
    }
    .card-footer {
        border-top: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        p {
            color: $yellow;
        }
    }
}






// Oh yeaaah anda memasuki Press Detail sempardak!

.press-detail {
    margin-top: 5em;
    .breadcrumb {
        margin-bottom: 3em;
        li {
            font-size: 14px;
        }
        a {
            color: $yellow;
        }
    }
    .press-detail {
        margin-bottom: 3em;
        .content {
            padding-bottom: 3em;
        }
        hr {
            width: 10%;
        }
        .title {
            color: $darkBlue;
            width: 70%;
        }
        .subtitle {
            color: #999;
            font-size: 14px;
            margin-bottom: 2em;
            margin-top: -1rem;
        }
    }
}

.press-slider {
    margin-bottom: 2em;
    figure {
        margin: 0;
    }
}

.share {
    ul {
        display: flex;
        li {
            margin-right: 2em;
            transition: all .3s ease;
            &:hover {
                transform: translateY(-5px);
            }
            a {
                font-size: 1.4rem;
            }
        }
    }
}







// Waaaw sudin di User Profile wak! Hahahahahah!

.account {
    background-color: #f3f3f3;
    .section-title {
        text-align: center;
    }
    .hero-body {
        padding-top: 0;
    }
    h4.subtitle {
        color: #999;
        font-weight: 100;
        font-size: 16px;
    }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    + label {
        position: relative;
        display: inline-block;
        transition: all .3s ease;
        &:hover {
            span {
                display: block;
                cursor: pointer;
            }
        }
        img {
            border-radius: 50%;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, .2);
            transition: all .3s ease;
        }
        span {
            display: none;
            background-color: #ff3860;
            color: #fff;
            font-size: 12px;
            padding: 3px 5px;
            border-radius: 5px;
            margin-left: -40px;
            position: absolute;
            top: 45%;
            left: 50%;
            opacity: .6;
            box-shadow: 2px 5px 8px rgba(0, 0, 0, .2);
            // transition: all .3s ease;
            &:active {
                transform: translateY(3px);
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    &:focus + label, + label:hover img {
        filter: blur(2px);
        opacity: .7;
        cursor: pointer;
    }
}



.account-wrapper {
    background-color: #fff;
    width: 65%;
    border-radius: 8px;
    margin: 0 auto;
    border: 1px solid #ddd;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, .1);

    .topbar {
        padding: 1em 1.4em;
        margin-bottom: 0;
        background-color: #eee;
        border-radius: 8px 8px 0 0;
        .level-right {
            span {
                font-size: 20px;
            }
            small {
                font-size: 12px;
            }
        }
        figure.image {
            border-radius: 50%;
            img {
                border-radius: 50%;
            }
        }
        input[type="file"] {
            display: none;
        }
    }

    .tab-wrapper {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        background: linear-gradient(to top, #eee, #f9f9f9);
    }

    .tab-content {
        display: none;
        visibility: hidden;
        &.is-active {
            display: block;
            visibility: visible;
        }
        .title {
            color: $yellow;
            margin-bottom: 2em !important;
            padding-left: 1em;
        }
    }

    .tab-link {
        padding: 1em 2.4em;
        &.is-active {
            background-color: $darkBlue;
            border-bottom: 2px solid $yellow;
            color: #fff;
        }
    }

    .level:first-child {
        padding: 1em 1.4em;
    }
    .user-info {
        dt {
            font-weight: bold;
        }
        dd {
            margin-bottom: 20px;
        }
    }
    .content {
        .polling-list *, .aspirasi-list * {
            margin-bottom: 0;
        }
    }
    .polling-item {
        margin-left: 0;
        li {
            padding: 0 1.4em 1.4em 1.4em;
            margin-bottom: 1.4em !important;
            border-bottom: 1px solid $yellow;
            list-style-type: none;
            &:last-child {
                border-bottom: none;
            }
            h4, p {
                margin-bottom: .6em !important;
            }
        }
    }
    .aspirasi-item {
        margin-left: 0;
        li {
            padding: 0 1.4em 1.4em 1.4em;
            margin-bottom: 1.4em !important;
            border-bottom: 1px solid $yellow;
            list-style-type: none;
            &:last-child {
                border-bottom: none;
            }
            h4, p {
                margin-bottom: .6em !important;
            }
        }
    }
}
