@import "var.scss";

@media screen and (max-width: 768px) {

    .navbar-burger {
        background-color: $yellow;
        color: $darkBlue;
        margin-top: 20px;
        &:hover {
            background-color: $yellow;
        }
    }

    .navbar {
        .navbar-item {
            color: $darkBlue !important;
        }
        .navbar-dropdown {
            font-size: 0.875rem;
            padding-bottom: 1.2rem;
            padding-top: 0;
        }
    }



    .article-section {
        padding-top: 15em;
    }

    .ataglance {
        .button-cta {
            width: 100%;
            right: inherit;
            left: 13%;
            margin-left: -50px;
            bottom: inherit;
            transition: all .3s ease;
        }
    }

    footer {
        .quick-links  {
            margin-bottom: 2em;
        }
    }


    form {
        width: 100%;
    }

    .column.old-man {
        display: none;
    }

    footer .column {
        text-align: center;
        &.mr5em {
            margin-right: initial;
        }
    }

    .account-wrapper {
        width: 100%;
        .tabs {
            ul {
                justify-content: space-around;
            }
        }
    }

    .login-wrapper, .register-wrapper, .forgot-wrapper {
        width: inherit;
    }

    .news-section {
        .read-more {
            h4 {
                padding-left: 15px;
            }
        }
    }

    .article-carousel {
        .title {
            color: $darkBlue;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.6;
        }
        .card-content {
            padding: 1rem;
            height: 220px;
        }
    }

    .logo-footer {
        img {
            margin: 0 auto;
        }
    }

}
