@import "var.scss";

@media screen and (max-width: 768px) {


    .article-section {
        padding-top: 15em;
    }

    .ataglance {
        .button-cta {
            width: 100%;
            right: inherit;
            left: 13%;
            margin-left: -50px;
            bottom: inherit;
            transition: all .3s ease;
        }
    }

    footer {
        .quick-links  {
            margin-bottom: 2em;
        }
    }


    form {
        width: 100%;
    }

    .column.old-man {
        display: none;
    }

    footer .column {
        text-align: center;
        &.mr5em {
            margin-right: initial;
        }
    }

    .account-wrapper {
        width: 100%;
        .tabs {
            ul {
                justify-content: space-around;
            }
        }
    }

    .login-wrapper, .register-wrapper, .forgot-wrapper {
        width: inherit;
    }

    .news-section {
        .read-more {
            h4 {
                padding-left: 15px;
            }
        }
    }

}
