@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }
  .column.old-man {
    display: none;
  }
  footer .column {
    text-align: center;
  }
  footer .column.mr5em {
    margin-right: initial;
  }
  .account-wrapper {
    width: 100%;
  }
  .account-wrapper .tabs ul {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
