@media screen and (max-width: 768px) {
  .navbar-burger {
    background-color: #fdc236;
    color: #2e2f48;
    margin-top: 20px;
  }
  .navbar-burger:hover {
    background-color: #fdc236;
  }
  .navbar .navbar-item {
    color: #2e2f48 !important;
  }
  .navbar .navbar-dropdown {
    font-size: 0.875rem;
    padding-bottom: 1.2rem;
    padding-top: 0;
  }
  .article-section {
    padding-top: 15em;
  }
  .ataglance .button-cta {
    width: 100%;
    right: inherit;
    left: 13%;
    margin-left: -50px;
    bottom: inherit;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  footer .quick-links {
    margin-bottom: 2em;
  }
  form {
    width: 100%;
  }
  .column.old-man {
    display: none;
  }
  footer .column {
    text-align: center;
  }
  footer .column.mr5em {
    margin-right: initial;
  }
  .account-wrapper {
    width: 100%;
  }
  .account-wrapper .tabs ul {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .login-wrapper, .register-wrapper, .forgot-wrapper {
    width: inherit;
  }
  .news-section .read-more h4 {
    padding-left: 15px;
  }
  .article-carousel .title {
    color: #2e2f48;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6;
  }
  .article-carousel .card-content {
    padding: 1rem;
    height: 220px;
  }
  .logo-footer img {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1000px !important;
  }
}
